html { 
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    height: 1480px;
    width: 1282px;
    margin: 0px auto;
    padding-left: 100px;
    padding-top: 61px;
}
.head {
    padding-bottom: 45px;
}
.logo-color
{
    color: #4bcaff;
    font-size: 80px;
    text-decoration: none;
}
.logo {
    height: 74px;
    width: 292px;
    font-size: 80px;
    text-decoration: none;
    color: black;
}
.navg {
    width: 1280px;
    background-color:  #35444f;
    padding-top: 26px;
    padding-bottom: 21px;
    
}
.navg a {
    color:#ffffff;
    font-size: 21px;
    text-decoration: none;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 22px;
}
.FP {
    padding-left: 203px;
    padding-right: 42px;
}
.ramdat {
    padding-left: 41px;
    padding-right: 41px;
}
.fls{
    padding-left: 43px;
    padding-right: 42.5px;
}
.njfa{
    padding-left: 42.5px;
    padding-right: 203px;
}
.navg a:hover {
    background-color: #222f3a;
    border-left: 1px solid;
    border-right: 1px solid;
}
.bod{
padding-top: 51px;
display: flex;
}
.bar {
    width: 344px;
    height: 399px;
    
    border: 1px solid #35444f;
    text-align: left
}

.ul1 {
padding: 0;
margin: 0;
}
.bar ul {
    list-style-type: none;
}
.bar li {
    width: 344px;
    height: 81px;
}
.bar li:hover{
    background-color: #dbdbdb;
    color: #1d1d1d;
    
}
.img {
    padding-top: 126px;
}    

.ul1 li a:hover {
    margin-left: 26px;
    color: #2c2c2c;
    }
.ul1 li a {
    display: block;
    height: 100%;
    text-decoration: none;
color: #495863;
padding-left: 43px;
font-size: 29px;
padding-top: 20px;
}
.content {
    height: 529px;
    width: 885px;
    display: flex;
    border: 1px solid #35444f;
}
.img2 {
    margin: auto;
}
.midl {
    height: 892px;
    width: 885px;
    padding-left: 52px;
}
.text {
    font-size: 18px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 50px;
}
.footer {
    width: 1280px;
    height: 69px;
    background-color: #b4b7ba;
}
.ul2 {
    list-style-type: none;
    display: inline-flex;
    margin: 0 auto;
    color: #0c1927;
    height: 100%;
    padding-left: 20px;
}
.ul2 li {
font-size: 26px;
padding-top: 22px;
margin-left: 20px;

}
.ul2 a {
    text-decoration: none;
    color: #0c1927;
}
.df {
    height: 100%;
}
.ul2 a:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
}
.ul2 span {
    font-size: 21px;
    padding-left: 218px;
    padding-top: 25px;
}
